*{
margin:0;
padding: 0;
scroll-behavior: smooth;
}

#firefly{
	height: 100vh;
	width: 100%;
}

.ul{

	float: left;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: lighter;
}

.ul li{
	display: inline-block;
	margin-left: 80px; 
}

.ul li a{

	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	position: relative;
	padding-bottom: 4px;

}

.ul li a:hover{
	color: #ff8400;
	transition: 0.9s;
}

.ul li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background-color: rgba(255,255,255,0.9);
	transition: transform 250ms;
}

.ul li a:hover:after{
	transform: translateX(-50%) scaleX(1);
}


.ul2{

	float: right;
	margin-top: 30px;
    margin-right: 20px;
    font-weight: lighter;
}
.ul2 li{

	display: inline-block;
	margin-right: 100px; 
}

.ul2 li a{

	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	position: relative;
	padding-bottom: 4px;
}



.ul2 li a:hover{
	color: #ff8400;
	transition: 0.9s;
}

.ul2 li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background-color: rgba(255,255,255,0.9);
	transition: transform 250ms;
}

.ul2 li a:hover:after{
	transform: translateX(-50%) scaleX(1);
}

#home{
	height: 100vh;
	width: 100%;
	background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/bgop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	color: #f1f1f1;
	margin-top: 26%;
	position: absolute;
	font-size: 70px;
	margin-left: 30%;
	font-family: 'Rye', cursive;
	/*font-family: 'Pacifico', cursive;*/
	font-weight: lighter;
}

.welcome{
	color: #fff;
	margin-top: 20%;
	position: absolute;
	font-size: 50px;
	margin-left: 32%;
	font-family: 'Great Vibes', cursive;
	font-weight: lighter;



}

.hm{
	color: #ff4948;
}

p{
	color: #fff;
	margin-top: 24%;
	position: absolute;
	font-size: 20px;
	margin-left: 5%; 
}

.logo{
	position: absolute;
	top: 0px;
	left: 41%;
}

.logo img{
	height: 100px; 
	width: auto;

}





/*-------------------------*/








/*--------------------------------------*/










/*-------------------------*/
#footer{
  height: 100vh;
  width: 100%;
/*  background-image: url('../img/offerbg.jpg');
  background-size: cover;*/
  background-color: #111;
}


.ftxt{
  color: #fff;
  position: absolute;
  margin-top: 170px;
  margin-left: 100px;
  font-size: 35px;
  font-weight: bold;
}

.fp{
  color: #a9a9a9;
  margin-top: 250px;
  position: absolute;
  margin-left: 100px;
}

.contxt{
  color: #fff;
  position: absolute;
  margin-top: 170px;
  margin-left: 700px;
  font-size: 35px;
  font-weight: bold;
}


.cp{
  color: #a9a9a9;
  margin-top: 250px;
  position: absolute;
  margin-left: 700px;
}

.stxt{
  color: #fff;
  position: absolute;
  margin-top: 170px;
  margin-left: 1100px;
  font-size: 35px;
  font-weight: bold;
}


.sp{
  color: #fff;
  margin-top: 250px;
  position: absolute;
  margin-left: 1100px;
  font-size: 20px;
}

span{
  margin-left: 20px;
  color: #a9a9a9;
}

.sp i{
  font-size: 30px;
}

.sp2{
  color: #fff;
  margin-top: 310px;
  position: absolute;
  margin-left: 1100px;
  font-size: 20px;
}
.sp2 i{
  font-size: 30px;
}


.sp3{
  color: #fff;
  margin-top: 370px;
  position: absolute;
  margin-left: 1100px;
  font-size: 20px;
}

.sp3:hover{
  color: red;
}


.sp2:hover{
  color: blue;
}

.sp:hover{
  color: #4cd0e0;
}

.sp3 i{
  font-size: 30px;
}

.rights{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin-left: 500px;
  margin-top: 580px;
}

.line{
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #a9a9a9;
  margin-top: 550px;
  left: 60px;
}
